/* ================= HEADER ================= */

.top-header {
  height: 50px;                 /* FIXED & CLEAN */
  background: #e8f5f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;              /* PROPER SPACING */
  box-sizing: border-box;
  margin-bottom: 8px;
  margin-top: -3px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-page {
  font-size: 16px;
  font-weight: 500;
  color: #495d63;
  margin-left: 2px;            /* moves “Users” right */
}

.header-right {
  display: flex;
  align-items: center;
  gap: 14px;
}


.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logout-btn {
  font-size: 12px;
  padding: 4px 10px;
  background: #234e5a;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  opacity: 0.9;
}

/* ================= LOGOUT / DELETE CONFIRM MODAL ================= */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35); /* same dim background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: #ffffff;
  width: 420px;
  padding: 24px 24px;
  border-radius: 8px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-box p {
  font-size: 18px;
  font-weight: 500;
  color: #2c3e50;
  margin-bottom: 22px;
}

/* Buttons row */
.modal-actions {
  display: flex;
  justify-content: center;
  gap: 1px;
}

/* Common button */
.modal-actions .btn {
  min-width: 90px;
  height: 30px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* Cancel = RED  */
.modal-actions .btn.cancel {
  background: #bdbdbd;
  color: #271212;
}

.modal-actions .btn.cancel:hover {
  background: #979494;
}

/* Confirm = GREY (same as delete confirm) */
.modal-actions .btn.confirm {
  background: #f75353;
  color: #2c3e50;
}

.modal-actions .btn.confirm:hover {
  background: #adadad;
}
